@model List<string>
<br />
<br />
<div class="border backgroundWhite p-4 mx-auto" style="max-width: 70%">
    <div class="row">
        <div class="col-12">
            <h2>Container List</h2>
        </div>
    </div>
    <br />
    <div>
        @if (Model != null && Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Container Name
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(mbox => item)
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
